Repository GregTheMadMonk/tnl-noa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  deploy documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml

Small fixes and typo fix in documentation of solver monitor.
  src/TNL/Solvers/Linear/LinearSolver.h
  src/TNL/Solvers/SolverMonitor.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Writting documentation for TNL::Solvers::Linear namespace.
  src/TNL/Solvers/Linear/_NamespaceDoxy.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Deleting deprecated method performSORIteration from matrices.
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrix.hpp
  src/TNL/Matrices/DenseMatrixView.h
  src/TNL/Matrices/DenseMatrixView.hpp
  src/TNL/Matrices/LambdaMatrix.h
  src/TNL/Matrices/LambdaMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrix.h
  src/TNL/Matrices/MultidiagonalMatrix.hpp
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/MultidiagonalMatrixView.hpp
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/SparseMatrixView.hpp
  src/TNL/Matrices/TridiagonalMatrix.h
  src/TNL/Matrices/TridiagonalMatrix.hpp
  src/TNL/Matrices/TridiagonalMatrixView.h
  src/TNL/Matrices/TridiagonalMatrixView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Editing documentation for linear iterative solver.
  src/TNL/Solvers/Linear/LinearSolver.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fix of using of using in Atomic.h
  src/TNL/Atomic.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fix of typo in LinearSolver.
  src/TNL/Solvers/Linear/LinearSolver.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Writting documentation on preconditioners of linear solvers.
  Documentation/Tutorials/Solvers/Linear/tutorial_Linear_solvers.md
  src/TNL/Solvers/Linear/Preconditioners/Diagonal.h
  src/TNL/Solvers/Linear/Preconditioners/ILU0.h
  src/TNL/Solvers/Linear/Preconditioners/ILUT.h
  src/TNL/Solvers/Linear/Preconditioners/Preconditioner.h
  src/TNL/Solvers/Linear/Preconditioners/_NamespaceDoxy.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Small fixes in comments in examples on iterative solvers for linear systems.
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithTimerExample.cpp
Due: documentation examples, build documentation, deploy documentation

Writting documentation on linear preconditioners.
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithPreconditionerExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithPreconditionerExample.cu
  Documentation/Tutorials/Solvers/Linear/tutorial_Linear_solvers.md
  src/TNL/Solvers/IterativeSolverMonitor.h
  src/TNL/Solvers/Linear/LinearSolver.h
  src/TNL/Solvers/Linear/Preconditioners/ILU0.h
  src/TNL/Solvers/Linear/Preconditioners/Preconditioner.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixes in tutorial and example on linear preconditioners.
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithPreconditionerExample.cpp
  Documentation/Tutorials/Solvers/Linear/tutorial_Linear_solvers.md
Due: documentation examples, build documentation, deploy documentation

Added example to documentation of iterative linear solvers.
  src/TNL/Solvers/Linear/BICGStab.h
  src/TNL/Solvers/Linear/BICGStabL.h
  src/TNL/Solvers/Linear/CG.h
  src/TNL/Solvers/Linear/GMRES.h
  src/TNL/Solvers/Linear/Jacobi.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added example to documentation of iterative linear solvers.
  src/TNL/Solvers/Linear/SOR.h
  src/TNL/Solvers/Linear/TFQMR.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added example to documentation of linear preconditioners.
  src/TNL/Solvers/Linear/Preconditioners/Diagonal.h
  src/TNL/Solvers/Linear/Preconditioners/ILU0.h
  src/TNL/Solvers/Linear/Preconditioners/ILUT.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added example on getLinearSolver and getPreconditioner.
  Documentation/Examples/Solvers/Linear/CMakeLists.txt
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithRuntimeTypesExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithRuntimeTypesExample.cu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Writting documentation on getLinearSolver and getPreconditioner.
  src/TNL/Solvers/LinearSolverTypeResolver.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Writting tutorial on getLinearSolver and getPreconditioner.
  Documentation/Tutorials/Solvers/Linear/tutorial_Linear_solvers.md
Due: documentation examples, build documentation, deploy documentation

Small fixes in documentation of lineat solvers.
  Documentation/Tutorials/Solvers/Linear/tutorial_Linear_solvers.md
  src/TNL/Solvers/Linear/BICGStabL.h
  src/TNL/Solvers/Linear/Preconditioners/Diagonal.h
  src/TNL/Solvers/Linear/Preconditioners/ILU0.h
  src/TNL/Solvers/Linear/Preconditioners/ILUT.h
  src/TNL/Solvers/Linear/Preconditioners/Preconditioner.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixed and simplified copy- and move-constructors in segments
  src/TNL/Algorithms/Segments/BiEllpack.h
  src/TNL/Algorithms/Segments/BiEllpack.hpp
  src/TNL/Algorithms/Segments/BiEllpackView.h
  src/TNL/Algorithms/Segments/BiEllpackView.hpp
  src/TNL/Algorithms/Segments/CSR.h
  src/TNL/Algorithms/Segments/CSR.hpp
  src/TNL/Algorithms/Segments/CSRView.h
  src/TNL/Algorithms/Segments/CSRView.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpack.h
  src/TNL/Algorithms/Segments/ChunkedEllpack.hpp
  src/TNL/Algorithms/Segments/ChunkedEllpackView.h
  src/TNL/Algorithms/Segments/ChunkedEllpackView.hpp
  src/TNL/Algorithms/Segments/Ellpack.h
  src/TNL/Algorithms/Segments/Ellpack.hpp
  src/TNL/Algorithms/Segments/EllpackView.h
  src/TNL/Algorithms/Segments/EllpackView.hpp
  src/TNL/Algorithms/Segments/SlicedEllpack.h
  src/TNL/Algorithms/Segments/SlicedEllpack.hpp
  src/TNL/Algorithms/Segments/SlicedEllpackView.h
  src/TNL/Algorithms/Segments/SlicedEllpackView.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added missing move-assignment operator to SparseMatrix
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fix of typo in tutorial on linear solvers.
  Documentation/Tutorials/Solvers/Linear/tutorial_Linear_solvers.md
Due: documentation examples, build documentation, deploy documentation

Updating README.md.
  README.md
Due: dummy build job

Extended mesh benchmark to also measure time of copying mesh from GPU to CPU
  src/Benchmarks/Mesh/MeshBenchmarks.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Moved the declaration of SubentityMatrixType from MeshSubentityTraits to MeshEntityTraits
  src/TNL/Meshes/MeshDetails/initializer/Initializer.h
  src/TNL/Meshes/MeshDetails/layers/StorageLayer.h
  src/TNL/Meshes/MeshDetails/layers/SubentityStorageLayer.h
  src/TNL/Meshes/MeshDetails/traits/MeshEntityTraits.h
  src/TNL/Meshes/MeshDetails/traits/MeshSubentityTraits.h
  src/TNL/Meshes/MeshDetails/traits/MeshTraits.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Refactored getDecomposedMesh function to use ParallelFor
  src/Benchmarks/Mesh/MeshBenchmarks.h
  src/TNL/Assert.h
  src/TNL/Meshes/Geometry/EntityDecomposer.h
  src/TNL/Meshes/Geometry/getDecomposedMesh.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added EntityInitializerLayer specialization for initializing polyhedron subentites 3 -> 2 from cell seeds + other minor mesh refactoring
  src/Benchmarks/Mesh/tnl-benchmark-mesh.h
  src/TNL/Containers/UnorderedIndexedSet.h
  src/TNL/Containers/UnorderedIndexedSet.hpp
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
  src/TNL/Meshes/MeshDetails/initializer/Initializer.h
  src/TNL/Meshes/MeshDetails/initializer/SubentitySeedsCreator.h
  src/TNL/Meshes/MeshDetails/layers/SubentityStorageLayer.h
  src/TNL/Meshes/Readers/FPMAReader.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Improved mesh benchmark to also support triangular and tetrahedral meshes
  src/Benchmarks/Mesh/MeshBenchmarks.h
  src/Benchmarks/Mesh/tnl-benchmark-mesh.h
  src/Tools/tnl-triangulate-mesh.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Added unit test for mesh with seven polygons
  src/UnitTests/Meshes/MeshTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Updated mesh benchmark to use the refactored interface of Benchmark
  src/Benchmarks/Mesh/MemoryInfo.h
  src/Benchmarks/Mesh/MeshBenchmarks.h
  src/Benchmarks/Mesh/tnl-benchmark-mesh.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

added begin and end methods to UnorderedIndexedSet
  src/TNL/Containers/UnorderedIndexedSet.h
  src/TNL/Containers/UnorderedIndexedSet.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added simple unit test for Mesh with two Polygons
  src/UnitTests/Meshes/MeshTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Refactored getPlanarMesh function to use ParallelFor
  src/Benchmarks/Mesh/MeshBenchmarks.h
  src/TNL/Meshes/Geometry/getDecomposedMesh.h
  src/TNL/Meshes/Geometry/getPlanarMesh.h
  src/TNL/Meshes/MeshDetails/initializer/EntitySeedMatrix.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixed failed static assertions in mesh initializer
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
  src/TNL/Meshes/MeshDetails/initializer/Initializer.h
  src/TNL/Meshes/MeshDetails/layers/StorageLayer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

New topologies for Mesh: Wedge and Pyramid
  src/TNL/Meshes/EntityShapeGroupChecker.h
  src/TNL/Meshes/Mesh.h
  src/TNL/Meshes/Mesh.hpp
  src/TNL/Meshes/MeshBuilder.h
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
  src/TNL/Meshes/MeshDetails/initializer/EntitySeed.h
  src/TNL/Meshes/MeshDetails/initializer/Initializer.h
  src/TNL/Meshes/MeshDetails/initializer/SubentitySeedsCreator.h
  src/TNL/Meshes/MeshDetails/layers/StorageLayer.h
  src/TNL/Meshes/MeshDetails/layers/SubentityStorageLayer.h
  src/TNL/Meshes/MeshDetails/layers/SuperentityStorageLayer.h
  src/TNL/Meshes/MeshDetails/traits/MeshSubentityTraits.h
  src/TNL/Meshes/MeshDetails/traits/MeshTraits.h
  src/TNL/Meshes/Topologies/Polyhedron.h
  src/TNL/Meshes/Topologies/Pyramid.h
  src/TNL/Meshes/Topologies/SubentityVertexCount.h
  src/TNL/Meshes/Topologies/Wedge.h
  src/TNL/Meshes/TypeResolver/MeshTypeResolver.hpp
  src/TNL/Meshes/VTKTraits.h
  src/Tools/tnl-mesh-converter.cpp
  src/UnitTests/Meshes/MeshTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added Polygon mesh topology
  src/TNL/Meshes/MeshBuilder.h
  src/TNL/Meshes/Topologies/Polygon.h
  src/TNL/Meshes/VTKTraits.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Slightly optimized polyhedron specialization of getEntityMeasure for cuda
  src/TNL/Meshes/Geometry/getEntityMeasure.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added new getEntityMeasure specializations and function isPlanar for 3D polygons + refactoring
  src/TNL/Meshes/Geometry/getEntityCenter.h
  src/TNL/Meshes/Geometry/getEntityMeasure.h
  src/TNL/Meshes/Geometry/getOutwardNormalVector.h
  src/TNL/Meshes/Geometry/isPlanar.h
  src/TNL/Meshes/MeshDetails/initializer/EntitySeed.h
  src/TNL/Meshes/MeshDetails/layers/SubentityStorageLayer.h
  src/TNL/Meshes/MeshDetails/traits/MeshTraits.h
  src/TNL/Meshes/Topologies/IsDynamicTopology.h
  src/TNL/Meshes/Topologies/isDynamicTopology.h
  src/TNL/TypeTraits.h
  src/UnitTests/Meshes/CMakeLists.txt
  src/UnitTests/Meshes/MeshGeometryTest.cpp
  src/UnitTests/Meshes/MeshGeometryTest.cu
  src/UnitTests/Meshes/MeshGeometryTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Meshes/Geometry: refactored polygon and polyhedron decomposition into templated EntityDecomposer struct with specializations
  src/TNL/Meshes/Geometry/EntityDecomposer.h
  src/TNL/Meshes/Geometry/PolygonDecomposer.h
  src/TNL/Meshes/Geometry/getDecomposedMesh.h
  src/TNL/Meshes/Geometry/getPlanarMesh.h
  src/UnitTests/Meshes/MeshGeometryTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixed typos: indeces -> indices
  src/TNL/Algorithms/sort.h
  src/TNL/Meshes/Geometry/getDecomposedMesh.h
  src/TNL/Meshes/Geometry/getPlanarMesh.h
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
  src/TNL/Meshes/Readers/VTKReader.h
  src/UnitTests/Meshes/MeshGeometryTest.h
  src/UnitTests/Meshes/MeshTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Refactored mesh initialization to reduce number of calls to SubentitySeedsCreator and number of dynamic allocations
  src/TNL/Meshes/MeshDetails/initializer/EntityInitializer.h
  src/TNL/Meshes/MeshDetails/initializer/Initializer.h
  src/TNL/Meshes/MeshDetails/initializer/SubentitySeedsCreator.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Refactored the way how entity counts and corners counts are passed into MeshBuilder
  src/TNL/Meshes/Geometry/getDecomposedMesh.h
  src/TNL/Meshes/Geometry/getPlanarMesh.h
  src/TNL/Meshes/MeshBuilder.h
  src/TNL/Meshes/MeshDetails/initializer/EntitySeedMatrix.h
  src/TNL/Meshes/Readers/MeshReader.h
  src/Tools/tnl-grid-to-mesh.cpp
  src/UnitTests/Meshes/DistributedMeshes/DistributedMeshTest.h
  src/UnitTests/Meshes/EntityTagsTest.h
  src/UnitTests/Meshes/MeshGeometryTest.h
  src/UnitTests/Meshes/MeshOrderingTest.h
  src/UnitTests/Meshes/MeshTest.h
  src/UnitTests/Meshes/MeshTraverserTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation
