Repository GregTheMadMonk/tnl-noa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

dummy build job:
  stage: build
  script: echo "dummy"

cuda_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_matrix_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Debug:
  stage: build:cuda
  needs: []
  script:
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_nontests_Release:
  stage: build:cuda
  needs: []
  script:
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_mpi_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_mpi_tests_Release:
  stage: build:cuda
  needs: []
  script:
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

cuda_mpi_matrix_tests_Debug:
  stage: build:cuda
  needs: []
  script:
  - export NUM_CORES=$(grep "core id" /proc/cpuinfo | sort -u | wc -l)
  - if [[ ${NINJAFLAGS} == "" ]]; then export NINJAFLAGS="-j$NUM_CORES"; fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - export CTEST_PARALLEL_LEVEL=4
  - export OMP_NUM_THREADS=4
  ...

Extended EntityShapeGroup for Polyhedron
  src/TNL/Meshes/EntityShapeGroup.h
  src/TNL/Meshes/Readers/VTKReader.h
  src/TNL/Meshes/Readers/VTUReader.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Extended VTKWriter for polyhedral meshes
  src/TNL/Meshes/Writers/detail/VTKMeshEntitiesWriter.h
  src/TNL/Meshes/Writers/detail/VTKOffsetsCountGetter.h
  src/Tools/tnl-mesh-converter.cpp
  src/UnitTests/Meshes/VTKReaderTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Refactored detail sub-namespace for mesh writers
  src/TNL/Meshes/Writers/VTKWriter.h
  src/TNL/Meshes/Writers/VTKWriter.hpp
  src/TNL/Meshes/Writers/VTUWriter.h
  src/TNL/Meshes/Writers/VTUWriter.hpp
  src/TNL/Meshes/Writers/detail/VTKEntitiesListSize.h
  src/TNL/Meshes/Writers/detail/VTKMeshEntitiesWriter.h
  src/TNL/Meshes/Writers/detail/VTUMeshEntitiesCollector.h
  src/TNL/Meshes/Writers/detail/VTUPolyhedralFacesWriter.h
  src/TNL/Meshes/Writers/detail/VerticesPerEntity.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Removed useless includes of String.h
  src/TNL/Meshes/GridDetails/Grid1D_impl.h
  src/TNL/Meshes/GridDetails/Grid2D_impl.h
  src/TNL/Meshes/GridDetails/Grid3D_impl.h
  src/TNL/Meshes/Topologies/Vertex.h
  src/TNL/Meshes/TypeResolver/GridTypeResolver.hpp
  src/TNL/Meshes/TypeResolver/MeshTypeResolver.hpp
  src/TNL/Meshes/Writers/NetgenWriter.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Mesh refactoring: replaced enum with static constexpr
  src/TNL/Meshes/Topologies/Hexahedron.h
  src/TNL/Meshes/Topologies/IsDynamicTopology.h
  src/TNL/Meshes/Topologies/Pyramid.h
  src/TNL/Meshes/Topologies/Quadrangle.h
  src/TNL/Meshes/Topologies/Tetrahedron.h
  src/TNL/Meshes/Topologies/Triangle.h
  src/TNL/Meshes/Topologies/Wedge.h
  src/TNL/Meshes/TypeResolver/BuildConfigTags.h
  src/TNL/Solvers/BuildConfigTags.h
  src/TNL/Solvers/FastBuildConfigTag.h
  src/Tools/tnl-decompose-grid.cpp
  src/Tools/tnl-decompose-mesh.cpp
  src/Tools/tnl-diff.cpp
  src/Tools/tnl-game-of-life.cpp
  src/Tools/tnl-grid-to-mesh.cpp
  src/Tools/tnl-init.cpp
  src/Tools/tnl-mesh-converter.cpp
  src/Tools/tnl-planar-correct-mesh.cpp
  src/Tools/tnl-refine-mesh.cpp
  src/Tools/tnl-test-distributed-mesh.h
  src/Tools/tnl-triangulate-mesh.cpp
  src/UnitTests/Meshes/FPMAReaderTest.cpp
  src/UnitTests/Meshes/NetgenReaderTest.cpp
  src/UnitTests/Meshes/VTIReaderTest.cpp
  src/UnitTests/Meshes/VTKReaderTest.cpp
  src/UnitTests/Meshes/VTUReaderTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Refactored I/O file formats in mesh tools
  src/Tools/tnl-grid-to-mesh.cpp
  src/Tools/tnl-mesh-converter.cpp
  src/Tools/tnl-planar-correct-mesh.cpp
  src/Tools/tnl-triangulate-mesh.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Mesh writers: replaced TNL::String with std::string, added missing includes
  src/Python/pytnl/tnl_mpi/DistributedMeshWriters.cpp
  src/TNL/Meshes/Writers/PVTIWriter.h
  src/TNL/Meshes/Writers/PVTIWriter.hpp
  src/TNL/Meshes/Writers/PVTUWriter.h
  src/TNL/Meshes/Writers/PVTUWriter.hpp
  src/TNL/Meshes/Writers/VTIWriter.h
  src/TNL/Meshes/Writers/VTIWriter.hpp
  src/TNL/Meshes/Writers/VTKWriter.h
  src/TNL/Meshes/Writers/VTKWriter.hpp
  src/TNL/Meshes/Writers/VTUWriter.h
  src/TNL/Meshes/Writers/VTUWriter.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added mesh data for testing VTK, VTU and VTI readers with quadrangles/pixels and hexahedrons/voxels
  src/UnitTests/Meshes/VTIReaderTest.cpp
  src/UnitTests/Meshes/VTKReaderTest.cpp
  src/UnitTests/Meshes/VTUReaderTest.cpp
  src/UnitTests/Meshes/data/hexahedrons/grid_2x3x4.vti
  src/UnitTests/Meshes/data/hexahedrons/grid_2x3x4.vtk
  src/UnitTests/Meshes/data/hexahedrons/grid_2x3x4.vtu
  src/UnitTests/Meshes/data/quadrangles/grid_2x3.vti
  src/UnitTests/Meshes/data/quadrangles/grid_2x3.vtk
  src/UnitTests/Meshes/data/quadrangles/grid_2x3.vtu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Fixed switching between CELL_DATA and POINT_DATA in the VTKReader
  src/TNL/Meshes/Readers/VTKReader.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added function to deduplicate faces in MeshBuilder
  src/TNL/Meshes/MeshBuilder.h
  src/TNL/Meshes/Readers/MeshReader.h
  src/TNL/Meshes/Readers/VTUReader.h
  src/UnitTests/Meshes/VTUReaderTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Refactored CMakeLists for tools
  src/Tools/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Extended VTUReader and VTUWriter for polyhedral meshes
  src/TNL/Meshes/Readers/VTUReader.h
  src/TNL/Meshes/Writers/VTUWriter.hpp
  src/UnitTests/Meshes/FPMAReaderTest.cpp
  src/UnitTests/Meshes/VTUReaderTest.cpp
  src/UnitTests/Meshes/data/polyhedrons/cube1m_1.vtk
  src/UnitTests/Meshes/data/polyhedrons/cube1m_1.vtu
  src/UnitTests/Meshes/data/polyhedrons/hexahedron_and_two_polyhedra.vtu
  src/UnitTests/Meshes/data/polyhedrons/two_polyhedra.fpma
  src/UnitTests/Meshes/data/polyhedrons/two_polyhedra.vtk
  src/UnitTests/Meshes/data/polyhedrons/two_polyhedra.vtu
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added function to deduplicate points in MeshBuilder
  src/TNL/Meshes/MeshBuilder.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Removed MeshIntegrityChecker
  src/TNL/Meshes/MeshDetails/MeshIntegrityChecker.h
  src/TNL/Meshes/MeshDetails/MeshIntegrityCheckerLayer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added tests for getRefinedMesh
  src/UnitTests/Meshes/MeshGeometryTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Extended VTKReader to support VTK DataFormat version 5.1
  src/TNL/Meshes/Readers/VTKReader.h
  src/UnitTests/Meshes/VTKReaderTest.cpp
  src/UnitTests/Meshes/data/triangles_2x2x2/version_5.1_ascii.vtk
  src/UnitTests/Meshes/data/triangles_2x2x2/version_5.1_binary.vtk
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Optimized mesh initialization by skipping entities which are completely disabled in the configuration
  src/TNL/Meshes/MeshDetails/initializer/Initializer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Updated VTKWriter to produce DataFile version 5.1 instead of 2.0
  src/TNL/Meshes/Writers/VTKWriter.hpp
  src/TNL/Meshes/Writers/detail/VTKMeshEntitiesWriter.h
  src/TNL/Meshes/Writers/detail/VTKOffsetsCountGetter.h
  src/UnitTests/Meshes/MeshReaderTest.h
  src/UnitTests/Meshes/VTKReaderTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixed STRIP_FROM_PATH in Doxyfile
  Documentation/Doxyfile
Due: documentation examples, build documentation, deploy documentation

Documentation: fixed links between markdown files
  Documentation/Pages/comparison-with-other-libraries.md
  Documentation/Pages/core-concepts.md
  Documentation/Pages/main-page.md
  Documentation/Tutorials/Arrays/tutorial_Arrays.md
  Documentation/Tutorials/ForLoops/tutorial_ForLoops.md
  Documentation/Tutorials/GeneralConcepts/tutorial_GeneralConcepts.md
  Documentation/Tutorials/Matrices/tutorial_Matrices.md
  Documentation/Tutorials/Meshes/tutorial_Meshes.md
  Documentation/Tutorials/Pointers/tutorial_Pointers.md
  Documentation/Tutorials/ReductionAndScan/tutorial_ReductionAndScan.md
  Documentation/Tutorials/Segments/tutorial_Segments.md
  Documentation/Tutorials/Solvers/Linear/tutorial_Linear_solvers.md
  Documentation/Tutorials/Sorting/tutorial_Sorting.md
  Documentation/Tutorials/Vectors/tutorial_Vectors.md
  Documentation/Tutorials/index.md
  README.md
Due: documentation examples, build documentation, deploy documentation

Removed outdated notes from Markdown pages
  Documentation/Pages/core-concepts.md
  Documentation/Pages/main-page.md
Due: documentation examples, build documentation, deploy documentation

Added script for updating copyright headers in source files
  scripts/update-copyright-headers.py
Due: dummy build job

Updated year in the LICENSE file
  LICENSE
Due: dummy build job

Added test relying on the Mesh copy-constructor
  src/UnitTests/Meshes/MeshTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Simplified copy-constructor of Mesh
  src/TNL/Meshes/Mesh.h
  src/TNL/Meshes/Mesh.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixed copy-constructor in SparseMatrix
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrix.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

CI: retry jobs on system failure
  .gitlab-ci.yml
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Removed duplicate description from CudaRuntimeError message
  src/TNL/Exceptions/CudaRuntimeError.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixed includes in TNL/Images
  src/TNL/Images/DicomHeader.h
  src/TNL/Images/DicomHeader_impl.h
  src/TNL/Images/DicomImageInfo.h
  src/TNL/Images/DicomImageInfo_impl.h
  src/TNL/Images/DicomPatientInfo.h
  src/TNL/Images/DicomSeries.h
  src/TNL/Images/DicomSeriesInfo.h
  src/TNL/Images/DicomSeriesInfo_impl.h
  src/TNL/Images/DicomSeries_impl.h
  src/TNL/Images/JPEGImage.h
  src/TNL/Images/JPEGImage_impl.h
  src/TNL/Images/PGMImage.h
  src/TNL/Images/PGMImage_impl.h
  src/TNL/Images/PNGImage.h
  src/TNL/Images/PNGImage_impl.h
  src/TNL/Images/RegionOfInterest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added missing include to MultiDeviceMemoryOperations.h
  src/TNL/Algorithms/MultiDeviceMemoryOperations.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Removed obsolete test for legacy matrices
  src/UnitTests/Matrices/Legacy/CMakeLists.txt
  src/UnitTests/Matrices/Legacy/Legacy_SparseMatrixCopyTest.cpp
  src/UnitTests/Matrices/Legacy/Legacy_SparseMatrixCopyTest.cu
  src/UnitTests/Matrices/Legacy/Legacy_SparseMatrixCopyTest.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Configuring linting with clang-format and clang-tidy
  .gitlab-ci.yml
  CMakeLists.txt
  Documentation/.clang-format
  scripts/p-clang-format
  scripts/run-clang-format.py
  src/.clang-format
  src/.clang-tidy
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Lint: fixed 'virtual' and 'override' in matrices and refactored TridiagonalMatrixIndexer
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/AdEllpack.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/BiEllpack.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/CSR.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/ChunkedEllpack.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/Ellpack.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/Multidiagonal.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/SlicedEllpack.h
  src/Benchmarks/SpMV/ReferenceFormats/Legacy/Sparse.h
  src/TNL/Benchmarks/CustomLogging.h
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Matrices/DenseMatrix.h
  src/TNL/Matrices/DenseMatrixView.h
  src/TNL/Matrices/Matrix.h
  src/TNL/Matrices/Matrix.hpp
  src/TNL/Matrices/MultidiagonalMatrix.h
  src/TNL/Matrices/MultidiagonalMatrixView.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrix.h
  src/TNL/Matrices/Sandbox/SparseSandboxMatrixView.h
  src/TNL/Matrices/SparseMatrix.h
  src/TNL/Matrices/SparseMatrixView.h
  src/TNL/Matrices/TridiagonalMatrix.h
  src/TNL/Matrices/TridiagonalMatrixView.h
  src/TNL/Matrices/details/TridiagonalMatrixIndexer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Benchmarks: fixed inconsistent type of the verbose parameter
  src/TNL/Benchmarks/Benchmarks.h
  src/TNL/Benchmarks/Benchmarks.hpp
  src/TNL/Benchmarks/CustomLogging.h
  src/TNL/Benchmarks/JsonLogging.h
  src/TNL/Benchmarks/Logging.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

clang-tidy: dynamic exception specification 'throw()' is deprecated; consider using 'noexcept' instead [modernize-use-noexcept]
  src/TNL/Allocators/CudaHost.h
  src/TNL/Allocators/CudaManaged.h
  src/TNL/Exceptions/CudaBadAlloc.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixed formatting in TypeTraits.h
  src/TNL/TypeTraits.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  deploy documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
