Repository GregTheMadMonk/tnl-noa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dummy build job, cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Path conditions:
  dummy build job: not (any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml, Documentation/**/*)
  cuda_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  cuda_mpi_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  default_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  mpi_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_matrix_tests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_matrix_tests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_nontests_Debug: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  clang_mpi_nontests_Release: any of: src/**/*.{h,hpp,cpp,cu}, **/CMakeLists.txt, cmake/*, .gitlab-ci.yml
  documentation examples: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  build documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml
  deploy documentation: any of: Documentation/**/*, src/TNL/**/*.{h,hpp}, .gitlab-ci.yml

Writing tutorial on ODE solvers.
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.cpp
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.cu
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.h
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationWithMonitorExample.cpp
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationWithMonitorExample.cu
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationWithMonitorExample.h
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzExample.h
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.h
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.h
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineParallelExample.h
  Documentation/Examples/Solvers/ODE/write.h
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
  src/TNL/Solvers/ODE/Euler.hpp
  src/TNL/Solvers/ODE/StaticEuler.h
  src/TNL/Solvers/ODE/StaticEuler.hpp
  src/TNL/Solvers/ODE/_NamespaceDoxy.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added description of TNL::Solvers::ODE namespace.
  src/TNL/Solvers/ODE/_NamespaceDoxy.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Trying to call StaticODESolver-SineExample.py from cmake.
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.py
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixing name of the Lorenz system.
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorentzExample.cpp
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorentzParallelExample.cpp
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorentzParallelExample.cu
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzExample.cpp
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzExample.h
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.cpp
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.cu
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.h
Due: documentation examples, build documentation, deploy documentation

Add scripts for figures of results of ODE solvers.
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.h
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixing documentation on ODE solvers.
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.h
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
  src/TNL/Solvers/ODE/StaticEuler.h
  src/TNL/Solvers/ODE/_NamespaceDoxy.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Changing default value of the convergence residue in iterative solvers to zero. Small positive value can spoil solution of ODE solvers.
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithMonitorExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithPreconditionerExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithRuntimeTypesExample.cpp
  Documentation/Examples/Solvers/Linear/IterativeLinearSolverWithTimerExample.cpp
  Documentation/Tutorials/Solvers/Linear/tutorial_Linear_solvers.md
  src/TNL/Solvers/IterativeSolver.h
  src/TNL/Solvers/StaticIterativeSolver.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Adding figure to the ODE tutorial.
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
  Documentation/build
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixing tutorial on ODE heat equation example.
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.h
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationWithMonitorExample.h
  Documentation/Examples/Solvers/ODE/write.h
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
Due: documentation examples, build documentation, deploy documentation

Writing documentation on Runge-Kutta-Merson solver.
  src/TNL/Solvers/ODE/Euler.h
  src/TNL/Solvers/ODE/Merson.h
  src/TNL/Solvers/ODE/StaticEuler.h
  src/TNL/Solvers/ODE/StaticMerson.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixing typo in static Merson code.
  src/TNL/Solvers/ODE/StaticMerson.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixing Python script for ODE tutorial.
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.py
Due: documentation examples, build documentation, deploy documentation

Writing documentation on explicit solver.
  src/TNL/Solvers/ODE/ExplicitSolver.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Writing tutorial on ODE solvers.
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineParallelExample.h
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineParallelExample.py
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
Due: documentation examples, build documentation, deploy documentation

Fixing ODE solver heat equation example.
  Documentation/Examples/Solvers/ODE/ODESolver-HeatEquationExample.h
Due: documentation examples, build documentation, deploy documentation

Added Python scripts for static ODE solver examples.
  Documentation/Examples/Solvers/ODE/CMakeLists.txt
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.h
  Documentation/Examples/Solvers/ODE/StaticODESolver-LorenzParallelExample.py
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineParallelExample.h
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineParallelExample.py
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added python script for postprocessing of result static ODE solver example.
  Documentation/Examples/Solvers/ODE/StaticODESolver-SineExample.py
Due: documentation examples, build documentation, deploy documentation

Writing tutorial on ODE solvers.
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
  src/TNL/Solvers/ODE/_NamespaceDoxy.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Writing documentation on ODE solvers.
  Documentation/Tutorials/Solvers/ODE/tutorial_ODE_solvers.md
  src/TNL/Solvers/ODE/Euler.h
  src/TNL/Solvers/ODE/StaticEuler.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Writing documentation of explicit solvers.
  src/TNL/Solvers/ODE/ExplicitSolver.h
  src/TNL/Solvers/ODE/ExplicitSolver.hpp
  src/TNL/Solvers/ODE/StaticExplicitSolver.h
  src/TNL/Solvers/ODE/StaticExplicitSolver.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Small fixes in ODE solvers documentation
  src/TNL/Solvers/ODE/Euler.h
  src/TNL/Solvers/ODE/Merson.h
  src/TNL/Solvers/ODE/StaticEuler.h
  src/TNL/Solvers/ODE/StaticMerson.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Documentation: reorganized list of tutorials
  Documentation/Tutorials/index.md
Due: documentation examples, build documentation, deploy documentation

NDArray: fixed subarrays for arrays with static sizes
  src/TNL/Containers/ndarray/Subarrays.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Documentation: added section on code formatting to CONTRIBUTING.md
  CONTRIBUTING.md
Due: dummy build job

Documentation: added interactive rebase to CONTRIBUTING.md
  CONTRIBUTING.md
Due: dummy build job

Documentation: added section on code linting to CONTRIBUTING.md
  CONTRIBUTING.md
Due: dummy build job

Removed old copyright header from CMakeLists.txt
  CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Removed CPack configuration from CMakeLists.txt
  CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Fixed initialization of threadsPerSegment in CSRHybridKernel to avoid compiler warnings
  src/TNL/Algorithms/Segments/Kernels/CSRHybridKernel.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Fixed __launch_bounds__ parameters for Ampére 8.6 architecture
  src/TNL/Algorithms/detail/CudaMultireductionKernel.h
  src/TNL/Algorithms/detail/CudaReductionKernel.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Disabling cmake test for PETSc in benchmarks.
  src/Benchmarks/SpMV/CMakeLists.txt
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release

Refactor handling of negative tags in DistributedNDArraySynchronizer to allow skipping communication over the periodic boundary
  src/TNL/Containers/DistributedNDArraySynchronizer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Refactor operators for SyncDirection in DistributedNDArraySynchronizer
  src/TNL/Containers/DistributedNDArraySynchronizer.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Simplified MPI::getRankOnNode with MPI_INFO_NULL
  src/TNL/MPI/Utils.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added RAII wrapper for MPI communicators
  src/TNL/MPI.h
  src/TNL/MPI/Comm.h
  src/TNL/MPI/DummyDefs.h
  src/TNL/MPI/Utils.h
  src/TNL/MPI/Wrappers.h
  src/TNL/MPI/selectGPU.h
  src/TNL/Meshes/DistributedMeshes/DistributedGrid.h
  src/TNL/Meshes/DistributedMeshes/DistributedGrid.hpp
  src/TNL/Meshes/DistributedMeshes/DistributedMesh.h
  src/TNL/Meshes/Readers/PVTUReader.h
  src/UnitTests/MPI/CMakeLists.txt
  src/UnitTests/MPI/MPICommTest.cpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Replaced MPI_Comm with MPI::Comm in distributed data structures
  src/TNL/Algorithms/detail/DistributedScan.h
  src/TNL/Containers/DistributedArray.h
  src/TNL/Containers/DistributedArray.hpp
  src/TNL/Containers/DistributedArrayView.h
  src/TNL/Containers/DistributedArrayView.hpp
  src/TNL/Containers/DistributedNDArray.h
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Containers/DistributedNDArrayView.h
  src/TNL/Containers/Expressions/DistributedExpressionTemplates.h
  src/TNL/Containers/Expressions/DistributedVerticalOperations.h
  src/TNL/Containers/Partitioner.h
  src/TNL/Functions/MeshFunctionIO.h
  src/TNL/Matrices/DistributedMatrix.h
  src/TNL/Matrices/DistributedMatrix_impl.h
  src/TNL/Meshes/DistributedMeshes/DistributedGrid.h
  src/TNL/Meshes/DistributedMeshes/DistributedGrid.hpp
  src/TNL/Meshes/DistributedMeshes/DistributedGridSynchronizer.h
  src/TNL/Meshes/DistributedMeshes/DistributedMesh.h
  src/TNL/Meshes/DistributedMeshes/DistributedMeshSynchronizer.h
  src/TNL/Meshes/Readers/PVTIReader.h
  src/TNL/Meshes/Readers/PVTUReader.h
  src/TNL/Meshes/Writers/PVTIWriter.hpp
  src/TNL/Solvers/Linear/Utils/Traits.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Break up cyclic dependency between header files in TNL/MPI
  src/Python/pytnl/tnl_mpi/tnl_mpi.cpp
  src/TNL/Benchmarks/Utils.h
  src/TNL/Containers/DistributedArrayView.h
  src/TNL/Containers/DistributedArrayView.hpp
  src/TNL/Containers/DistributedNDArraySynchronizer.h
  src/TNL/Containers/DistributedNDArrayView.h
  src/TNL/Containers/Partitioner.h
  src/TNL/MPI.h
  src/TNL/MPI/Comm.h
  src/TNL/MPI/ScopedInitializer.h
  src/TNL/MPI/Utils.h
  src/TNL/MPI/Wrappers.h
  src/TNL/MPI/selectGPU.h
  src/TNL/Problems/HeatEquationProblem_impl.h
  src/TNL/Solvers/ODE/StaticMerson.hpp
  src/TNL/Solvers/PDE/PDESolver.hpp
  src/TNL/Solvers/PDE/TimeDependentPDESolver.hpp
  src/TNL/Solvers/PDE/TimeIndependentPDESolver.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Cleaned up header files in Merson, StaticMerson, Euler and StaticEuler
  src/TNL/Solvers/ODE/Euler.h
  src/TNL/Solvers/ODE/Euler.hpp
  src/TNL/Solvers/ODE/Merson.h
  src/TNL/Solvers/ODE/Merson.hpp
  src/TNL/Solvers/ODE/StaticEuler.hpp
  src/TNL/Solvers/ODE/StaticMerson.h
  src/TNL/Solvers/ODE/StaticMerson.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Allowed passing custom communicators to resolveAndLoadDistributedMesh and loadDistributedMesh
  src/TNL/Meshes/Readers/PVTIReader.h
  src/TNL/Meshes/Readers/PVTUReader.h
  src/TNL/Meshes/TypeResolver/resolveDistributedMeshType.h
  src/TNL/Meshes/TypeResolver/resolveDistributedMeshType.hpp
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation

Added function MPI::optimizeRanks and an example how to use it
  src/Examples/CMakeLists.txt
  src/Examples/tnl-optimize-ranks-cuda.cu
  src/Examples/tnl-optimize-ranks.cpp
  src/TNL/MPI.h
  src/TNL/MPI/optimizeRanks.h
Due: cuda_tests_Debug, cuda_tests_Release, cuda_matrix_tests_Debug, cuda_matrix_tests_Release, cuda_nontests_Debug, cuda_nontests_Release, cuda_mpi_tests_Debug, cuda_mpi_tests_Release, cuda_mpi_matrix_tests_Debug, cuda_mpi_matrix_tests_Release, cuda_mpi_nontests_Debug, cuda_mpi_nontests_Release, default_tests_Debug, default_tests_Release, default_matrix_tests_Debug, default_matrix_tests_Release, default_nontests_Debug, default_nontests_Release, mpi_tests_Debug, mpi_tests_Release, mpi_matrix_tests_Debug, mpi_matrix_tests_Release, mpi_nontests_Debug, mpi_nontests_Release, clang_tests_Debug, clang_tests_Release, clang_matrix_tests_Debug, clang_matrix_tests_Release, clang_nontests_Debug, clang_nontests_Release, clang_mpi_tests_Debug, clang_mpi_tests_Release, clang_mpi_matrix_tests_Debug, clang_mpi_matrix_tests_Release, clang_mpi_nontests_Debug, clang_mpi_nontests_Release, documentation examples, build documentation, deploy documentation
